/* Navigation.module.css */

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

nav {
  position: sticky;
  top: 0;
  height: 100px;
  background-color: white;
  z-index: 100;
}

.grayscale {
  filter: grayscale(100%);
  opacity: 0.5;
}

.noGrayscale {
  filter: grayscale(0%);
}

.container {
  display: flex;
  justify-content: space-between;
  margin: 0 50px;
}

.container img {
  height: 60px;
  margin: 5px 5px;
  outline: solid 3px green;
  /* gets rid of white between outline and image */
  outline-offset: -0.1ch;
  border-radius: 50%;
}

.novafont {
  font-family: 'Nova Mono', monospace;
  font-weight: 400;
  font-style: normal;
}
