/* GameImage.module.css */

.imageWrapper {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.imageWrapperImg {
  width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
  user-select: none;
  pointer-events: none; /* important so clicks pass through */
}

.gamePhoto {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.circleWrapper {
  position: absolute;
  transform: translate(-50%, -50%); /* center on click */
  pointer-events: none; /* so clicks pass through */
}

.loading {
  height: 80vh;
}
